.seabed-content {
  
  & :where(h1) {
    font-size: clamp(calc(var(--h1) - 0.5rem), var(--h1), var(--h1));
  }

  & :where(h2) {
    font-size: clamp(calc(var(--h2) - 0.5rem), var(--h2), var(--h2));
  }

  & :where(h3) {
    font-size: clamp(calc(var(--h3) - 0.5rem), var(--h3), var(--h3));
  }

  & :where(h4) {
    font-size: clamp(calc(var(--h4) - 0.5rem), var(--h4), var(--h4));
  }

  & :where(h5) {
    font-size: clamp(calc(var(--h5) - 0.5rem), var(--h5), var(--h5));
  }

  & :where(h6) {
    font-size: clamp(calc(var(--h6) - 0.5rem), var(--h6), var(--h6));
  }

  & :where(p, li, pre, th, td, em, strong, span, b, i, a) {
    font-size: clamp(calc(var(--content) - 0.5rem), var(--content), var(--content));
  }

  & :where(small) {
    font-size: clamp(calc(var(--small) - 0.5rem), var(--small), var(--small));
  }

  & :where(th, strong, b, h1, h2, h3, h4, h5, h6) {
    font-weight: bold;
  }

  & :where(em, i) {
    font-style: italic;
  }

}

.seabed-spacing  {
  
}