.seabed-content {
  
  &:where(h1) {
    font-size: clamp(calc(var(--text-6xl) - 0.5rem), var(--text-6xl), var(--text-6xl));
  }

  &:where(h2) {
    font-size: clamp(calc(var(--text-5xl) - 0.5rem), var(--text-5xl), var(--text-5xl));
  }

  &:where(h3) {
    font-size: clamp(calc(var(--text-4xl) - 0.5rem), var(--text-4xl), var(--text-4xl));
  }

  &:where(h4) {
    font-size: clamp(calc(var(--text-3xl) - 0.5rem), var(--text-3xl), var(--text-3xl));
  }

  &:where(h5) {
    font-size: clamp(calc(var(--text-2xl) - 0.5rem), var(--text-2xl), var(--text-2xl));
  }

  &:where(h6) {
    font-size: clamp(calc(var(--text-xl) - 0.5rem), var(--text-xl), var(--text-xl));
  }

  &:where(p, li, pre, th, td, em, strong, b, i, a) {
    font-size: clamp(calc(var(--text-md) - 0.5rem), var(--text-md), var(--text-md));
  }

  &:where(small) {
    font-size: clamp(calc(var(--text-sm) - 0.5rem), var(--text-sm), var(--text-sm));
  }

  &:where(th, strong, b, h1, h2, h3, h4, h5, h6) {
    font-weight: bold;
  }

  &:where(em, i) {
    font-style: italic;
  }

}

.seabed-spacing  {

}