.avatar {
  @apply rounded-full bg-opacity-100 border-2 relative border-transparent border-solid flex items-center justify-center;

  & img {
    @apply rounded-full;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.status {
    &::after {
      content: "";

      @apply w-7 h-7 border-gray-600 border-solid rounded-full;

      border-width: 6px;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &.online::after {
      content: "";
      background-color: hsla(var(--success), 1);
    }

    &.offline::after {
      content: "";
      background-color: hsl(0deg, 0%, 10%);
    }
  }

  /* Sizes */
  &.avatar-sm {
    @apply w-24 h-24 text-lg;

    &.status::after {
      @apply w-5 h-5 border-2;

      transform: translate(-0.5rem, -0.25rem)
    }
  }

  &.avatar-md {
    @apply w-48 h-48 text-xl;

    &.status::after {
      transform: translate(-1rem, -1rem)
    }
  }

  &.avatar-lg {
    @apply w-64 h-64 text-xl;

    &.status::after {
      @apply w-8 h-8;

      transform: translate(-1.25rem, -1.25rem)
    }
  }

  /* Border Radius */
  &.avatar-rounded {
    @apply rounded-full;

    & img {
      @apply rounded-full;
    }
  }

  &.avatar-square {
    @apply rounded-lg;

    &.status {
      &.avatar-sm::after,
      &.avatar-md::after,
      &.avatar-lg::after {
        content: "";
        transform: translate(-0.25rem, -0.25rem);
      }
    }

    & img {
      @apply rounded-lg;
    }
  }

  &.avatar-custom {
    border-radius: var(--border-radius);

    & img {
      border-radius: var(--border-radius);
    }
  }
}
