.btn {
  /* Base styles */
  @apply font-sans font-semibold shadow-lg py-3 text-xl flex justify-center items-center cursor-pointer uppercase;

  /* Animations */
  @apply text-opacity-100 border-opacity-100 bg-opacity-100;
  @apply transition-colors duration-300 ease-in-out;

  border: 2px solid transparent;
  border-radius: var(--border-radius);
  color: hsla(var(--color), var(--tw-text-opacity));
  background-color: hsla(var(--bg, var(--bg-500)), var(--tw-bg-opacity));

  &:hover {
    @apply bg-opacity-0 text-opacity-100 border-opacity-0;

    background-color: hsla(var(--hover), var(--tw-bg-opacity));
    border-color: hsla(var(--hover), var(--tw-border-opacity));
    color: hsla(var(--hover), var(--tw-text-opacity));
  }

  &-loading {
    pointer-events: none;
    cursor: progress;

    &::before {
      content: "";
      box-sizing: border-box;
      padding: 0.15rem 0.8rem;
      border-radius: 50%;
      margin-right: 10px;
      height: 1.75rem;
      border: 2px solid transparent;
      border-top-color: currentColor;
      border-bottom-color: currentColor;
      animation: spinner 0.7s ease infinite;
    }
  }
}

/* Button Sizes and types */
.btn-round {
  @apply rounded-full;
}

.btn-sm {
  @apply w-44 py-2 text-lg;

  &.btn-wide {
    @apply w-56;
  }

  &.btn-circle {
    @apply p-2 h-12 w-12 text-2xl;

    border-radius: 9999px;
  }
}

.btn-md {
  @apply w-48 py-3 text-xl;

  &.btn-wide {
    @apply w-64;
  }

  &.btn-circle {
    @apply p-3 h-14 w-14 text-lg;

    border-radius: 9999px;
  }
}

.btn-lg {
  @apply w-52 py-4 text-2xl;

  &.btn-wide {
    @apply w-72;
  }

  &.btn-circle {
    @apply p-4 h-16 w-16 text-xl;

    border-radius: 9999px;
  }
}

/* Button Variants */
.btn-solid {
  @apply bg-opacity-100;

  background-color: hsla(var(--bg), var(--tw-bg-opacity));

  &:hover {
    @apply border-opacity-0 bg-opacity-100 text-opacity-100;
  }
}

.btn-outline {
  @apply bg-transparent shadow-none;

  border-color: hsla(var(--border), var(--tw-border-opacity));

  &:hover {
    @apply border-opacity-60 bg-opacity-50 text-opacity-100;
  }
}

.btn-ghost {
  @apply bg-transparent shadow-none;

  &:hover {
    @apply bg-opacity-50 border-opacity-0 text-opacity-100;
  }
}

.btn-link {
  @apply shadow-none bg-transparent underline text-opacity-100;

  &:hover {
    @apply bg-opacity-0 border-opacity-0;
  }
}

/* Colors */
.btn-primary {
  --color: var(--text);
  --bg: var(--primary, var(--primary-500));
  --border: var(--primary, var(--primary-500));
}

.btn-secondary {
  --color: var(--text);
  --bg: var(--secondary, var(--secondary-500));
  --border: var(--secondary, var(--secondary-500));
}

.btn-accent {
  --color: var(--text);
  --bg: var(--accent, var(--accent-500));
  --border: var(--accent, var(--accent-500));
}

.btn-success {
  @apply text-white;

  --bg: var(--success);
  --border: var(--success);
  --hover: var(--success);

  &:hover {
    @apply text-white;
  }
}

.btn-info {
  @apply text-white;

  --bg: var(--info);
  --border: var(--info);
  --hover: var(--info);

  &:hover {
    @apply text-white;
  }
}

.btn-warning {
  @apply text-white;

  --bg: var(--warning);
  --border: var(--warning);
  --hover: var(--warning);

  &:hover {
    @apply text-white;
  }
}

.btn-error {
  @apply text-white bg-opacity-100;

  --bg: var(--error);
  --border: var(--error);
  --hover: var(--error);

  &:hover {
    @apply text-white;
  }
}

.btn-disabled {
  cursor: not-allowed;

  --bg: var(--disabled);
  --border: var(--disabled);

  &:hover {
    @apply bg-transparent border-opacity-0;
  }

  &.btn-ghost,
  &.btn-link {
    @apply bg-transparent;

    --color: var(--disabled);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
